.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  z-index: 999999;
  background-color: #0000004a;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.loading_spinner {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #cd008a;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.label {
  color: white;
  user-select: none;
  font-weight: 600;
  margin-top: 1rem;
}

